{% extends 'base.html.twig' %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{asset('build/app.css')}}"  />

{% endblock stylesheets %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1> Bienvenue sur le site !</h1>

    <p> Il faudra faire attention niveau graphique à cette page étant donné que ce sera la première page que les
        visiteurs voient </p>

    <p>Voici les 10 derniers articles publié sur ce site </p>
    
    <section class="articles">

        {% for article in articles %}
            <hr>
            <article>

                <h2> {{article.titre}} </h2>
                <div class="metadata"> Ecrit le {{article.createdAt| date ('d/m/y')}} à {{article.createdAt | date('H:i')}}
                </div>
                <div class="Content">
                    <img src="{{article.image}}" alt="">

                    <p>{{article.contenu}} </p> 

                    <a href="{{path('show_article' , {id : article.id})}}" class="btn btn-primary"> Lire la suite </a>
                </div>

            </article>
        {% endfor %}

    </section>
    

{% endblock %}
