{% extends 'base.html.twig' %}

{% block stylesheets %}

	{#<link rel="stylesheet" href="{{asset('build/app.css')}}" />#}

{% endblock stylesheets %}

{% block title %}Accueil{% endblock %}

{% block body %}

    

    <h1 class="text-primary my-4"> Actualité </h1>

    
    <section class="articles">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                {% for article in articles %}
                  {% if article.brouillon == false %}
                    
                    <article>

                        <div class="card mb-4">
                            {% if article.image is null %}
								              <img class="card-img-top" src="http://placehold.it/750x350" alt="">
							              {% else %}
                            	<img class="card-img-top" src="{{article.image}}" alt="">
							              {% endif %}
                            <div class="card-body">
                                <h2 class="card-title">{{article.titre}}</h2>
                                <p class="card-text">{{article.contenu}}</p>
                                 <a href="{{path('show_article' , {id : article.id})}}" class="btn btn-primary"> Lire la suite </a>
                            </div>
                            <div class="card-footer text-muted">
                                Ecrit le {{article.createdAt| date ('d/m/y')}} à {{article.createdAt | date('H:i')}}
                            </div>
                        </div>

                    </article>
                  {% endif %}  
                {% endfor %}

            </div>

            <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {#<div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>#}

        <!-- Categories Widget -->
        {#<div class="card my-4">
          <h5 class="card-header">Informations sur le site</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>#}

        {% if form is null %}
          <div class="card my-4">
            <h5 class="card-header">Informations sur le site</h5>
            <div class="card-body">
              {{info.contenu}}
            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Liens utiles</h5>
            <div class="card-body">

              <div class="row">
              
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      {% set compteur = 0 %}
                      {% for partenaire in partenaires.partenaires %}
                        {% if compteur is divisible by(2) %}
                          <li>
                            <a href="{{partenaire.siteWeb}}">{{partenaire.nom}}</a>
                          </li>
                        {% endif %}
                        {% set compteur = compteur + 1 %}
                      {% endfor %}  
                      
                    </ul>
                  </div>
                  
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      
                      {% set compteur = 0 %}
                      {% for partenaire in partenaires.partenaires %}
                        {% if compteur is divisible by(2) == false %}
                          <li>
                            <a href="{{partenaire.siteWeb}}">{{partenaire.nom}}</a>
                          </li>
                        {% endif %}
                        {% set compteur = compteur + 1 %}
                      {% endfor %} 
                    </ul>
                  </div>
                  
                
              </div>
            </div>
          </div>
        {% else %}
            {% form_theme form 'bootstrap_4_layout.html.twig' %} 
            {{form_start(form)}}
            <div class="card my-4">
            <h5 class="card-header">Informations sur le site</h5>
            <div class="card-body">
             
              {{form_row(form.infoSite.contenu)}}  
            </div>
          </div>

            <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Liens utiles</h5>
            <div class="card-body">
              <ul class="partenaires" data-prototype="{{ form_widget(form.partenaires.partenaires.vars.prototype)|e('html_attr') }}">
                  {% for partenaire in form.partenaires.partenaires %}
                  
                    {{form_row(partenaire)}}

                  {% endfor %}
              </ul>
            </div>
          </div>
          <button type="submit" class="btn btn-success" >Modifier</button>
        {% endif %}

           

      </div>

        </div>    

    </section>

  <script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<button type="button" class="btn btn-success add_tag_link">Ajouter un partenaire</button>');
    var $newLinkLi = $('<li></li>').append($addTagButton);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.partenaires');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
      // Get the data-prototype explained earlier
      var prototype = $collectionHolder.data('prototype');

      // get the new index
      var index = $collectionHolder.data('index');

      var newForm = prototype;
      // You need this only if you didn't set 'label' => false in your tags field in TaskType
      // Replace '__name__label__' in the prototype's HTML to
      // instead be a number based on how many items we have
      // newForm = newForm.replace(/__name__label__/g, index);

      // Replace '__name__' in the prototype's HTML to
      // instead be a number based on how many items we have
      newForm = newForm.replace(/__name__/g, index);

      // increase the index with one for the next item
      $collectionHolder.data('index', index + 1);

      // Display the form in the page in an li, before the "Add a tag" link li
      var $newFormLi = $('<li></li>').append(newForm);
      $newLinkLi.before($newFormLi);
    }
  </script>    

{% endblock body %}
