{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<section class="articles">

	<br>
	<br>
	<h3> Trier par </h3>
	{% form_theme form 'bootstrap_4_layout.html.twig' %} 
    {{form_start(form)}}
    {#{{form_errors(form)}}#}
    {{form_row(form.date,{'id' : 'checkDate'})}}
	<ul class="periode"  data-prototype="{{ form_widget(form.periode.vars.prototype)|e('html_attr') }}">
		
	</ul>
    <button type="submit" class="btn btn-success" >Trier</button>
    {#{{form_end(form)}}#}
	<br>
	<br>
	{% for article in articles %}
	<hr>
	<article>

		<h2> {{article.titre}} </h2>
		<div class="metadata"> Ecrit le {{article.createdAt| date ('d/m/y')}} à {{article.createdAt | date('H:i')}}
		</div>
		<div class="Content">
			<img src="{{article.image}}" alt="">

			<p>{{article.contenu}} </p> 

			<a href="{{path('show_article' , {id : article.id})}}" class="btn btn-primary"> Lire la suite </a>
		</div>

	</article>
</section>

	{% endfor %}

	<script>

		jQuery(document).ready(function()
		{

			var date = $('#checkDate');

			if(date.is(':checked'))
			{
				var collectionHolder = $('ul.periode');
				var prototype = collectionHolder.data('prototype');
				prototype = prototype.replace(/__name__/g,0);
				collectionHolder.append(prototype)
			}
			else
			{
				var prototype = $('#form_trie_periode_0');
				prototype.remove();
			}

			date.on('click',function(){

				if(date.is(':checked'))
				{					
					var collectionHolder = $('ul.periode');
					var prototype = collectionHolder.data('prototype');
					prototype = prototype.replace(/__name__/g,0);
					collectionHolder.append(prototype)
				}
				else
				{
					var prototype = $('#form_trie_periode_0');
					prototype.remove();
				}

			});

		})
	</script>

{% endblock body %}