{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<section class="articles">

	<br>
	<br>
	<h3> Trier par </h3>
	{% form_theme form 'bootstrap_4_layout.html.twig' %} 
    {{form_start(form)}}
    {{form_errors(form)}}
    {{form_row(form.domaine)}}
    <button type="submit" class="btn btn-success" >Envoyer</button>
    {#{{form_end(form)}}#}
	<br>
	<br>
	{% for article in articles %}

	<article>

		<h2> {{article.titre}} </h2>
		<div class="metadata"> Ecrit le {{article.createdAt| date ('d/m/y')}} à {{article.createdAt | date('H:i')}}
		</div>
		<div class="Content">
			<img src="{{article.image}}" alt="">

			<p>{{article.contenu}} </p> 

			<a href="{{path('show_article' , {id : article.id})}}" class="btn btn-primary"> Lire la suite </a>
		</div>

	</article>
</section>

	{% endfor %}


{% endblock body %}