{% extends 'base.html.twig' %}

{% block title %}Formulaire de création d'article{% endblock %}

{% block body%}

	{% if editmode%}
		<h1> Modification d'un article ! </h1>
	{%else %}
		<h1> Création d'un article ! </h1>
	{% endif %}

	 {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} 

	{{form_start(formArticle)}}

	
	
	{{form_row(formArticle.titre , {'attr' : {'placeholder': "Titre de l'article"} ,  'label': "Titre"})}}
	{{form_row(formArticle.image, {'attr' : {'placeholder': "Url de l'image"},  'label': "Image"})}}
	{{form_row(formArticle.contenu, {'attr' : {'placeholder': "Contenu de l'article"},  'label': "Contenu"})}}
	

	 {% if editmode%}
		<button type="submit" class="btn btn-success">Modifier</button> 
	{%else %}
		<button type="submit" class="btn btn-success">Créer</button> 
	{% endif %}

	

	{{form_end(formArticle)}}

{% endblock body %}