{% extends 'base.html.twig' %}

{% block title %}Formulaire de création d'article{% endblock %}

{% block body%}

	{% if lieuDejaPrisForm is null %}

	{% else %}
		<h3> Erreur d'intégrité des donnés </h3>
		<p> {{lieuDejaPrisForm}} </p>
	{% endif %} 

	{% if lieuDejaPrisBd is null %}

	{% else %}
		<h3> Erreur d'intégrité des donnés </h3>
		<p> {{lieuDejaPrisBd}} </p>
	{% endif %}

	{% if erreurValidation is null %}

	{% else %}
		<h3> Erreur sur la validation du formulaire </h3>
		<ul>
		{% for error in erreurValidation %}
			<li>{{ error.message }}</li>
		{% endfor %}
        </ul>
	{% endif %}

	{% if erreurPeriode is null %}

	{% else %}
		<h3> Erreur d'intégrité des donnés </h3>
		<p> {{erreurPeriode}} </p>
	{% endif %}

	{% if editmode%}
		<h1> Modification d'un article ! </h1>
	{% else %}
		<h1> Création d'un article ! </h1>
	{% endif %}

	 {% form_theme formArticle 'bootstrap_4_layout.html.twig' %} 

	{{form_start(formArticle, { attr: { novalidate: 'novalidate' } })}}

	
	
	{{form_row(formArticle.titre , {'attr' : {'placeholder': "Titre de l'article"} ,  'label': "Titre"})}}
	{{form_row(formArticle.image, {'attr' : {'placeholder': "Url de l'image"},  'label': "Image"})}}
	{{form_row(formArticle.contenu, {'attr' : {'placeholder': "Contenu de l'article"},  'label': "Contenu"})}}
	

	{# on est obligé d'instancier le prototype ici à cause du form_widget du 1 er ul 
	{% set protoPeriode = form_widget(formArticle.evenements.vars.prototype.children['periode'].vars.prototype)|e('html_attr')  %}#}

	<ul class="evenements" data-prototype="{{form_widget(formArticle.evenements.vars.prototype)|e('html_attr')}}">
	
		{#<ul class="periodes" data-prototype="{{protoPeriode}}">
			
		</ul>#}
		{% set test =0 %}

		{% if editmode %}

			{% set test =1 %}

		{% endif %}

		{% for evenement in formArticle.evenements %}
			
			{% if test != 0 %}

				{{form_row(evenement.nom)}}
				{{form_row(evenement.image)}}
				{{form_row(evenement.description)}}

			{% endif %}
			
			<ul class="periodes" data-prototype="{{form_widget(evenement.periode.vars.prototype)|e('html_attr')}}">
				{% for periode in evenement.periode %}

					{{form_row(periode)}}

				{% endfor %}
		
			</ul>

			<ul class="organisateurs" data-prototype="{{form_widget(evenement.organisateurs.vars.prototype)|e('html_attr')}}">
				{% for organisateur in evenement.organisateurs %}

					{% if test != 0 %}

						{{form_row(organisateur.nom)}}
						{{form_row(organisateur.siteWeb)}}
						{{form_row(organisateur.mail)}}
						{{form_row(organisateur.image)}}

					{% endif %}

					<ul class="contacts" data-prototype="{{form_widget(organisateur.contacts.vars.prototype)|e('html_attr')}}">

						{#{% for contact in organisateur.contacts %}

							{{form_row(contact)}}
						
						{% endfor %}#}

						{% for listeContact in organisateur.vars["value"].listeContact %}
							
							
							{% if listeContact.evenement == evenement.vars["value"] %}
								{% for contact in listeContact.contact %}

									{#{{form_row(contact)}}#}
									
									

									{# contact est une entity et pas un formView , je ne sais pas comment générer le formView
									à partir du twig , donc pour l'instant on va récupérer le bon contact dans organisateurs.contacts
									qui est un formView
									#}

									{% for contact2 in organisateur.contacts %}

										{% if contact == contact2.vars["value"] %}

											{{form_row(contact2)}}

										{% endif %}

									{% endfor %}
			
								{% endfor %}

							{% endif %}

						{% endfor %}

					</ul>
				{% endfor %}
			</ul>

			{% if test !=0 %}

				{{form_row(evenement.lieu)}}

			{% endif %}	

			{% set test = 1 %}

		{% endfor %}
		

	</ul>

	

	 {% if editmode%}
		<button type="submit" class="btn btn-success">Modifier</button> 
	{%else %}
		<button type="submit" class="btn btn-success">Créer</button> 
	{% endif %}

	

	{#{{form_end(formArticle)}}#}

	<script>
		//un code similaire est "commenté" dans form_evenement.html.twig
		var $collectionHolder;

		var $addEvenementButton = $('<button type="button" class="btn btn-success add_evenement_link">Ajouter un événement </button>');
        var $newLinkLi = $('<li></li>').append($addEvenementButton);
		

		jQuery(document).ready(function() {
			

			$collectionHolder = $('ul.evenements');
			console.log($collectionHolder);
			$collectionHolder.append($newLinkLi);

			$collectionHolder.data('index', $collectionHolder.find(':input').length);

			// *******************

			var $collectionHolderOrganisateur = $('ul.organisateurs');

			var tabUlOrganisateurs = [];
			var tabButtonOrganisateurs = [];
			var tabIndexEvenementOrganisateurs = [];
			var tabLinkOrganisateurs = [];

			var tabOrganisateursUlContacts = [[]];
			var tabOrganisateursButtonContacts = [[]];
			var tabOrganisateursIndexOrganisateurContacts = [[]];
			var tabOrganisateursLinkContacts = [[]];

			// on commence i à 1 car le 1er ul.organisateurs est bidon
			// voir le controller pour comprendre , il nous fallait un événement et un organisateur bidon
			// pour pouvoir rentrer dans les for au moin une fois et avoir accés aux ul

			var start = 1;
			var editmode = '{{editmode}}';
			if(editmode == true)
			{
				// si on est en mode édition , le 1er ul n'est pas bidon
				start = 0;
			}
			console.log("start = "+start);
			console.log(" editmode = "+editmode);
			for(var i =start; i < $collectionHolderOrganisateur.length ; i++)
			{
				var $collectionHolderOrganisateuri = $('ul.organisateurs:eq('+i+')');

				var $addOrgaButton = $('<button type="button" class="btn btn-success add_organisateur_link">Ajouter un organisteur</button>');
                var $newLinkLi3 = $('<li></li>').append($addOrgaButton);

				$collectionHolderOrganisateuri.append($newLinkLi3);

				// on va s'occuper des contacts 
				console.log("test1");
				var tabUlContacts = [];
				var tabButtonContacts = [];
				var tabIndexOrganisateurContacts = [];
				var tabLinkContacts = [];

				var $collectionHolderOrganisateuriContact = $collectionHolderOrganisateuri.find('ul.contacts')

				for(var j=0 ; j<$collectionHolderOrganisateuriContact.length ; j++)
				{
					var $collectionHolderOrganisateuriContactj = $('ul.organisateurs:eq('+i+') ul.contacts:eq('+j+')');

					var $addContactButton = $('<button type="button" class="btn btn-success add_contacts_link">Ajouter un contact</button>');
					var $newLinkLi4 = $('<li></li>').append($addContactButton);

					$collectionHolderOrganisateuriContactj.append($newLinkLi4);

					// on commence à compter à 1 et pas à 0 d'où le +1 (différent de la page de création d'un événément)
					$collectionHolderOrganisateuriContactj.data('index', ($collectionHolderOrganisateuriContactj.find(':input').length-1)/4+1);

					 // on récupère la <div> juste avant le ul.contact qui contient l'indice dans l'id
					var $preceding = $collectionHolderOrganisateuriContactj.prev();

					// on récupère le input dans le div

					var $input = $preceding.find('input');

					// il y a deux nombres dans l'id de l'input et l'indice qui nous faut est le second
					//var $array = /\d+/g.exec($input.attr('id'));
					var $array = $input.attr('id').match(/\d+/g);
					console.log("test40");
					console.log($array);
					console.log($input);
					console.log($array);
					var $indexOrga = $array[1];
					console.log("test41");
					tabUlContacts.push($collectionHolderOrganisateuriContactj);
					tabButtonContacts.push($addContactButton);
					tabIndexOrganisateurContacts.push($indexOrga);
					tabLinkContacts.push($newLinkLi4);
					
				}

				console.log("test2");

				tabOrganisateursUlContacts.push(tabUlContacts);
				tabOrganisateursButtonContacts.push(tabButtonContacts);
				tabOrganisateursIndexOrganisateurContacts.push(tabIndexOrganisateurContacts);
				tabOrganisateursLinkContacts.push(tabLinkContacts);

				// on reprend le traitement des organisateurs

				// on enlève les input qui sont lié aux contacts
				var calcIndex = $collectionHolderOrganisateuri.find('input').length - $collectionHolderOrganisateuriContact.find('input').length;
				
				// Il semblerait que cela n'est pas pris en compte les boutons dans calcIndex , il reste à 
				// donc à diviser par le nombre de champs d'un formulaire organisateur (4)
				// il faut addition 1 car l'indice commence à partir de 1 et non de 0
				calcIndex = calcIndex /4 +1;
				console.log("calcIndex : ");
				console.log(calcIndex);
				console.log($collectionHolderOrganisateuri.find('input').length);
				console.log($collectionHolderOrganisateuriContact.find('input').length);

				$collectionHolderOrganisateuri.data('index',calcIndex);

				// on récupère la <div> juste après le ul.organisateur qui contient l'indice dans l'id
				var $following = $collectionHolderOrganisateuri.next();

				console.log($following);


				// on récupère le input dans le div
				var $input = $following.find('input');

				// Il n'y a que un nombre dans l'attribut id qui est l'indice qu'on cherche
				var $array = /\d+/g.exec($input.attr('id'));

				var $indexEvenement = $array[0];
				tabUlOrganisateurs.push($collectionHolderOrganisateuri);
				tabButtonOrganisateurs.push($addOrgaButton);
				tabIndexEvenementOrganisateurs.push($indexEvenement);
				tabLinkOrganisateurs.push($newLinkLi3);

				console.log("test4");

			}
			console.log("test41");

			// on va faire pour les périodes maintenant

			var $collectionHolderPeriode = $('ul.periodes');

			var tabUlPeriodes = [];
			var tabButtonPeriodes = [];
			var tabIndexEvenementPeriodes = [];
			var tabLinkPeriodes = [];

			// on commence à 1 et pas à 0 pour la même raison que les organisateurs
			for(var i =start ; i< $collectionHolderPeriode.length ; i++)
			{
				var $collectionHolderPeriodei = $('ul.periodes:eq('+i+')');

				var $addPeriodeButton = $('<button type="button" class="btn btn-success add_periode_link">Ajouter une période</button>');
                var $newLinkLi2 = $('<li></li>').append($addPeriodeButton);

				$collectionHolderPeriodei.append($newLinkLi2);

				//var calcIndex = $collectionHolderPeriodei.find('input').length ;
				//calcIndex = calcIndex/5 +1;

				var calcIndex = $collectionHolderPeriodei.children('fieldset').length ;
				calcIndex = calcIndex +1;

				console.log(calcIndex);

				$collectionHolderPeriodei.data('index',calcIndex);

				// on récupère la <div> juste après le ul.organisateur qui contient l'indice dans l'id
				// le ul.organisateur est juste après le ul.periode
				var $following = $collectionHolderPeriodei.next().next();

				console.log("j'en ai trop marre des ces bidouillages que je fais parce que je code mal ");
				console.log($following);


				// on récupère le input dans le div
				var $input = $following.find('input');

				// Il n'y a que un nombre dans l'attribut id qui est l'indice qu'on cherche
				var $array = /\d+/g.exec($input.attr('id'));

				var $indexEvenement = $array[0];
				tabUlPeriodes.push($collectionHolderPeriodei);
				tabButtonPeriodes.push($addPeriodeButton);
				tabIndexEvenementPeriodes.push($indexEvenement);
				tabLinkPeriodes.push($newLinkLi2);
			}

			// On va s'occuper des clicks sur les boutons ajout organisateur

			tabButtonOrganisateurs.forEach( function (evenement) {

				evenement.on('click',function(e) {

					var index = tabButtonOrganisateurs.indexOf(evenement);

					console.log("tttttteeeeeeeessssssssssssssssttttttttttt  !!!");
					console.log(tabIndexEvenementOrganisateurs[index]);
					console.log(tabUlOrganisateurs[index]);
					console.log(tabUlOrganisateurs[index].data('index'));

					addSubFormEvent(tabUlOrganisateurs[index],tabLinkOrganisateurs[index],tabIndexEvenementOrganisateurs[index]);

					var $collectionHolder4 = $('ul.contacts:eq(0)').clone();

					var $addContactButton = $('<button type="button" class="btn btn-success add_contacts_link">Ajouter un contact</button>');
					var $newLinkLi4 = $('<li></li>').append($addContactButton);

					$collectionHolder4.append($newLinkLi4);

					// on recupère le lien ajout organisateur
					//var $lienOrga = $('li:nth-last-child(1)',$collectionHolder3);
					var $lienOrga = tabUlOrganisateurs[index].find('li:last');
					console.log('---------------------------------- \n');
					console.log($lienOrga);
					$lienOrga.before($collectionHolder4);

					$collectionHolder4.append($('<br><br><br>'));
					$collectionHolder4.data('index', $collectionHolder4.find(':input').length);

					var $indexOrga = tabUlOrganisateurs[index].data('index')-1;

					$addContactButton.on('click',function(e){

						addSubFormEventSubFormOrga($collectionHolder4,$newLinkLi4,$indexOrga,tabIndexEvenementOrganisateurs[index]);

					})

				})

			});
			

			//On va s'occuper des clicks sur les boutons ajout contact
			console.log("test42");
			console.log(tabOrganisateursUlContacts,tabOrganisateursLinkContacts,tabOrganisateursIndexOrganisateurContacts,tabIndexEvenementOrganisateurs);

			tabOrganisateursButtonContacts.forEach( function (evenement){ 

				var i = tabOrganisateursButtonContacts.indexOf(evenement);

				evenement.forEach( function (evenement2) {

					var j = evenement.indexOf(evenement2);

					evenement2.on('click',function(e){

						//console.log(tabOrganisateursUlContacts[i][j])// ,tabOrganisateursLinkContacts[i][j] , tabOrganisateursIndexOrganisateurContacts[i][j] , tabIndexEvenementOrganisateurs[i]);
						addSubFormEventSubFormOrga(tabOrganisateursUlContacts[i][j] ,tabOrganisateursLinkContacts[i][j] , tabOrganisateursIndexOrganisateurContacts[i][j] , tabIndexEvenementOrganisateurs[i]  );

					});

				});

			});

			// on va s'occuper des clicks sur les boutons ajout periode

			tabButtonPeriodes.forEach(function(evenement) {
				
				evenement.on('click',function(e){

					var index = tabButtonPeriodes.indexOf(evenement);

					addSubFormEvent(tabUlPeriodes[index],tabLinkPeriodes[index],tabIndexEvenementPeriodes[index]);
					
				});

			});



			// *******************
			
			$addEvenementButton.on('click', function(e) {
                // add a new periode form (see next code block)
                addForm($collectionHolder, $newLinkLi);

				var $collectionHolder2 = $('ul.periodes:eq(0)').clone();
				var $collectionHolder3 = $('ul.organisateurs:eq(0)').clone();
                // on supprime les formulaires periodes et le bouton
                //$collectionHolder2.find('li').remove();

				//  ***********************   
				//cela ne sert à rien de vider car il n'y a rien à l'intérieur 

				// on va vider ce qu'il y a à l'intérieur des ul
				//$collectionHolder2.empty();
				//$collectionHolder3.empty();

				//  ***********************   
            

                var $addPeriodeButton = $('<button type="button" class="btn btn-success add_periode_link">Ajouter une période</button>');
                var $newLinkLi2 = $('<li></li>').append($addPeriodeButton);

				var $addOrganisateurButton = $('<button type="button" class="btn btn-success add_organisateur_link">Ajouter un organisateur</button>');
                var $newLinkLi3 = $('<li></li>').append($addOrganisateurButton);
                
                $collectionHolder2.append($newLinkLi2);
				$collectionHolder3.append($newLinkLi3);
                // on recupère le le lien ajout organisateur
                var $lienEvent = $('ul.evenements > li:nth-last-child(1)');

                // on rajoute les liens d'ajout avant le lien ajout organisateur
                $lienEvent.before($collectionHolder2);
				$lienEvent.before($collectionHolder3);
                $collectionHolder2.append($('<br><br><br>'));
				$collectionHolder3.append($('<br><br><br>'));
                $collectionHolder2.data('index', $collectionHolder2.find(':input').length);
				$collectionHolder3.data('index', $collectionHolder2.find(':input').length);
                
                var $indexEvent = $collectionHolder.data('index')-1;
                
                $addPeriodeButton.on('click',function(e){

                        addSubFormEvent($collectionHolder2,$newLinkLi2,$indexEvent);

                })

				$addOrganisateurButton.on('click',function(e){

                        addSubFormEvent($collectionHolder3,$newLinkLi3,$indexEvent);

						var $collectionHolder4 = $('ul.contacts:eq(0)').clone();

						var $addContactButton = $('<button type="button" class="btn btn-success add_contacts_link">Ajouter un contact</button>');
                		var $newLinkLi4 = $('<li></li>').append($addContactButton);

						$collectionHolder4.append($newLinkLi4);

						// on recupère le lien ajout organisateur
                		//var $lienOrga = $('li:nth-last-child(1)',$collectionHolder3);
						var $lienOrga = $collectionHolder3.find('li:last');
						console.log('---------------------------------- \n');
						console.log($lienOrga);
						$lienOrga.before($collectionHolder4);

						$collectionHolder4.append($('<br><br><br>'));
                		$collectionHolder4.data('index', $collectionHolder4.find(':input').length);

						var $indexOrga = $collectionHolder3.data('index')-1;

						$addContactButton.on('click',function(e){

                        addSubFormEventSubFormOrga($collectionHolder4,$newLinkLi4,$indexOrga,$indexEvent);

                		})


                })
            });
		

		});

		function addForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            //console.log($collectionHolder.data('index'));
            //console.log(prototype);

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            /* console.log('::::::::::::\n');
            console.log($collectionHolder.data('prototype'));*/

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

		function addSubFormEvent($collectionHolder, $newLinkLi,$indexEvent) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            //console.log($collectionHolder.data('index'));
            console.log(prototype);

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);
			console.log('//////////////////////////\n');
			console.log(newForm);
            
            //on va lier avec les regex au bon prototype organisateur
            newForm=newForm.replace(/evenements_\d*/g,"evenements_"+$indexEvent);
            newForm=newForm.replace(/evenements\]\[\d*/g,"evenements]["+$indexEvent);
            console.log('?????????????????????????????????????\n');
            console.log(newForm);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

		function addSubFormEventSubFormOrga($collectionHolder, $newLinkLi,$indexOrga,$indexEvent) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            //console.log($collectionHolder.data('index'));
            console.log(prototype);

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);
			console.log('//////////////////////////\n');
			console.log(newForm);

			newForm=newForm.replace(/evenements_\d*/g,"evenements_"+$indexEvent);
            newForm=newForm.replace(/evenements\]\[\d*/g,"evenements]["+$indexEvent);

            
            //on va lier avec les regex au bon prototype organisateur
            newForm=newForm.replace(/organisateurs_\d*/g,"organisateurs_"+$indexOrga);
            newForm=newForm.replace(/organisateurs\]\[\d*/g,"organisateurs]["+$indexOrga);
            console.log('?????????????????????????????????????\n');
            console.log(newForm);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

	</script>


{% endblock body %}

