{% extends 'base.html.twig' %}

{% block title %}{{evenement.nom}}{% endblock %}

{% block body %}

	<article>

	<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4 text-primary">{{evenement.nom}}</h1>

        <p class="lead">
        	{% if evenement.domaine == 'Événement transversal' %}
				<h4 class="text-primary">Famille de métier : <font color= "red">{{evenement.domaine}}</font></h4>
			{% endif %}

			{% if evenement.domaine == 'Métiers du numérique et de la transition énergétique' %}
				<h3 class="text-primary">Famille de métier : <font color= "#0CF950">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la réalisation de produits mécaniques' %}
				<h3 class="text-primary">Famille de métier : <font color= "#f7c4e3">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la maintenance' %}
				<h3 class="text-primary">Famille de métier : <font color= "#000000">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == "Métiers du pilotage d'installations automatisées" %}
				<h3 class="text-primary">Famille de métier : <font color= "#17661d">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers du bois' %}
				<h3 class="text-primary">Famille de métier : <font color= "#582900">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == "Métiers de l'hôtellerie-restauration" %}
				<h3 class="text-primary">Famille de métier : <font color= "#B1DBEC">{{evenement.domaine}}</font></h3>
			{% endif %}
		
			{% if evenement.domaine == "Métiers de l'aéronautique" %}
				<h3 class="text-primary">Famille de métier : <font color= "blue">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la beauté et du bien-être' %}
				<h3 class="text-primary">Famille de métier : <font color= "#bf2caf">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == "Métiers de l'alimention" %}
				<h3 class="text-primary">Famille de métier : <font color= "#F9B308">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers des études et de la modélisation numérique du bâtiment' %}
				<h3 class="text-primary">Famille de métier : <font color= "#535353">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers des industries graphiques et de la communication' %}
				<h3 class="text-primary">Famille de métier : <font color= "#FF4D04">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la gestion administrative, du transport et de la logistique' %}
				<h3 class="text-primary">Famille de métier : <font color= "#9929E7">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la relation client' %}
				<h3 class="text-primary">Famille de métier : <font color= "#4BECE7">{{evenement.domaine}}</font></h3>
			{% endif %}

			{% if evenement.domaine == 'Métiers de la construction durable , du bâtiment et des travaux publics' %}
				<h3 class="text-primary">Famille de métier : <font color= "#B6B6B6">{{evenement.domaine}}</font></h3>
			{% endif %}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Publié le {{evenement.PublishedAt| date ('d/m/y')}} à {{evenement.PublishedAt | date('H:i')}}</p>

        <hr>

        <!-- Preview Image -->
		{% if evenement.image is null %}
			<img class="img-fluid rounded" src="https://placehold.it/750x350" alt="">
		{% else %}
        	<img class="img-fluid rounded" src="{{evenement.image}}" alt="">
		{% endif %}

        <hr>

			<h5 class="text-primary"> Dates de l'événement </h5>

			<ul>
				{% for periode in evenement.periode %}
				<li>{{periode.debut | date('d/m/y H:i')}} - {{periode.fin | date('d/m/y H:i')}} </li>
				{% endfor %}
			</ul>

		<hr>

			<h5 class="text-primary"> Localisation </h5>
			<p> Ville : {{evenement.lieu.ville}} </p>
			<p> Adresse : {{evenement.lieu.adresse}} </p>
			<p> Code postale : {{evenement.lieu.codePostal}} </p>
			<p> Nom : {{evenement.lieu.nom}} </p>

		<hr>


        <!-- Post Content -->
        <p>{{evenement.description}}</p>

        <hr>
        
			<h5 class="text-primary"> Organisateurs </h5>

			{% for organisateur in evenement.organisateurs %}

				<div class="card mb-4">
					

						{% if organisateur.image is null %}
							<img class="card-img-top" src="https://placehold.it/750x350" alt="">
						{% else %}
                            <img class="card-img-top" src="{{organisateur.image}}" alt="">
						{% endif %}
						<div class="card-header ">
							<div class ="card-body">
								
								<h3 class="text-primary card-title"> {{organisateur.nom}} </h3>
								{% if organisateur.siteWeb is null %}
							
								{% else %}
									<a href = "{{organisateur.siteWeb}}" class="btn btn-primary"> Site web </a>
								{% endif %}
								<a href="{{path('contactOrganisateurEvenement' , {idOrganisateur : organisateur.id , idEvenement : evenement.id })}}" class="btn btn-primary">Contacter</a>
								
								<br><br>

								{% set listeContact = 0 %}

								{% for i in organisateur.listeContact %}

									{% if i.evenement == evenement %}

										{% set listeContact = i %}

									{% endif %}

								{% endfor %}
									
								
								<h5 class="text-primary"> Contacts </h5>
								{% for contact in listeContact.contact %}
										<hr>	
										<p> {{contact.prenom}} </p>
										<p>{{contact.nom}} </p>
										<p>{{contact.telephone}}</p>
										<a href="{{path('contactEvenement' , {idContact : contact.id , idEvenement : evenement.id})}}" class="btn btn-primary">Contacter</a>


								{% endfor %}
							</div>
						</div>
					</div>	
			{% endfor %}

			<br>
			<br>
			{% if is_granted('ROLE_ADMIN') %}
				<h4 class="text-primary"> Inscrits </h4>
				{% for inscrit in inscrits %}
					<div class="card mb-4">
						<div class="card-header ">
							
							<div class ="card-body">

								<h3 class="text-primary card-title"> {{inscrit.prenom}} {{inscrit.nom}} </h3>
								<hr>
								<h4 class="text-primary"> Mail : {{inscrit.mail}} </h4>
								<h4 class="text-primary"> Categorie : {{inscrit.categorie}} </h4>
								<hr>
								<a href="{{path('suppression_inscrit' , {idEve : evenement.id , idInscrit : inscrit.id})}}" class="btn btn-primary" id="testSuppression2">Supprimer l'inscription</a>
								<hr>
								<h4 class="text-primary"> Réponses </h5>
								{# on va chercher la satisfaction correspondant à l'événement #}
								{% for satisfaction in inscrit.satisfactions %}
									{% if satisfaction.evenement.getId == evenement.getId %}
										
											{% for part in satisfaction.parts %}

												<h5 class="text-primary"> {{part.question}} </h5>
												<p> {{part.reponse}} </p>

											{% endfor %}

									{% endif %}
								{% endfor %}
								

							</div>

						</div>	
					</div>
				{% endfor %}
<<<<<<< HEAD
			{% else %}
				{% if is_granted('ROLE_USER') %}
         		 	{% if app.user.getId() == evenement.utilisateur.getId() %}
						<h4 class="text-primary"> Inscrits </h4>
=======
				{% else %}
				{% if is_granted('ROLE_USER') %}
         			 {% if app.user.getId() == evenement.utilisateur.getId() %}
					  	<h4 class="text-primary"> Inscrits </h4>
>>>>>>> v2
						{% for inscrit in inscrits %}
							<div class="card mb-4">
								<div class="card-header ">
									
									<div class ="card-body">

										<h3 class="text-primary card-title"> {{inscrit.prenom}} {{inscrit.nom}} </h3>
										<hr>
										<h4 class="text-primary"> Mail : {{inscrit.mail}} </h4>
										<h4 class="text-primary"> Categorie : {{inscrit.categorie}} </h4>
										<hr>
<<<<<<< HEAD
=======
										<a href="{{path('inscription' , {idEve : evenement.id , idInscrit : inscrit.id})}}" class="btn btn-primary" id="testSuppression2">Supprimer l'inscription</a>
										<hr>
>>>>>>> v2
										<h4 class="text-primary"> Réponses </h5>
										{# on va chercher la satisfaction correspondant à l'événement #}
										{% for satisfaction in inscrit.satisfactions %}
											{% if satisfaction.evenement.getId == evenement.getId %}
												
													{% for part in satisfaction.parts %}

														<h5 class="text-primary"> {{part.question}} </h5>
														<p> {{part.reponse}} </p>

													{% endfor %}

											{% endif %}
										{% endfor %}
										

									</div>

								</div>	
							</div>
						{% endfor %}	
					{% endif %}
<<<<<<< HEAD
				{% endif %}		
=======
				{% endif %}	
>>>>>>> v2
			{% endif %}

			<a href="{{path('accueil')}}" class="btn btn-primary">accueil</a>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
				{% if evenement.isFinish == false %}
					<!-- Side Widget -->
					<div class="card my-4">
						<h5 class="card-header">Inscription à l'événement</h5>
						<div class="card-body">
							<a href="{{path('inscription' , {id : evenement.id})}}" class="btn btn-primary">S'inscrire</a>
						</div>
					</div>
				{% else %}
					<div class="card my-4">
						<h5 class="card-header">Inscription à l'événement</h5>
						<div class="card-body">
							<p>L'inscription est fermé , si vous souhaiter émettre un retour sur l'événement , vous pouvez utiliser
							 <a href ="{{path('contact')}} ">le formulaire de contact </a> </p>
						</div>
					</div>
				{% endif %}


		{% if is_granted('ROLE_ADMIN') %}
			<div class="card my-4">
				<h5 class="card-header">Modification/suppression</h5>
				<div class="card-body">

					<a href="{{path('modifEvenement' , {id : evenement.id})}}" class="btn btn-primary">Modifier l'événement</a>
					</br></br>
					<a href="{{path('suppression_show_evenement' , {id : evenement.id})}}" id="testSuppression" class="btn btn-primary">Supprimer l'événement</a>

				</div>
			</div>
		{% else %}
			{% if is_granted('ROLE_USER') %}
                {% if app.user.getId() == evenement.utilisateur.getId() %}

					<div class="card my-4">
						<h5 class="card-header">Modification/suppression</h5>
						<div class="card-body">
							<a href="{{path('modifEvenement' , {id : evenement.id})}}" class="btn btn-primary">Modifier l'événement</a>
							</br></br>
							<a href="{{path('suppression_show_evenement' , {id : evenement.id})}}" id="testSuppression" class="btn btn-primary">Supprimer l'événement</a>
						</div>
					</div>

				{% endif %}
            {% endif %}
		{% endif %}		

      </div>

    </div>
    <!-- /.row -->

	</article>

	<script>

        $('#testSuppression').on('click',function(e){
            return confirm("Etes vous sûr de vouloir supprimer ?");
        });

				$('#testSuppression2').on('click',function(e){
            return confirm("Etes vous sûr de vouloir supprimer ?");
        });

    </script>

{% endblock %}