{% extends 'base.html.twig' %}

{% block title %}{{evenement.nom}}{% endblock %}

{% block body %}

	<article>

		<h2 class="text-primary"> {{evenement.nom}} </h2>
		<div class="metadata"> Publié le {{evenement.PublishedAt| date ('d/m/y')}} à {{evenement.PublishedAt | date('H:i')}}
		</div>
		<div class="Content">
			<img src="{{evenement.image}}" alt="">

			<p>{{evenement.description}} </p>

			
		</div>

		<a href="{{path('modifEvenement' , {id : evenement.id})}}" class="btn btn-primary">Modifier l'événement</a>
		<a href="{{path('suppression_show_evenement' , {id : evenement.id})}}" id="testSuppression" class="btn btn-primary">Supprimer l'événement</a>

		<h3 class="text-primary"> Dates </h3>

		{% for periode in evenement.periode %}
			<p>Date de début : {{periode.debut | date('d/m/y H:i')}} </p>
			<p>Date de fin : {{periode.fin | date('d/m/y H:i')}} </p>

		{% endfor %}

		<h3 class="text-primary"> Lieu </h3>

			<p> Ville : {{evenement.lieu.ville}} </p>
			<p> Adresse : {{evenement.lieu.adresse}} </p>
			<p> Code postale : {{evenement.lieu.codePostal}} </p>
			<p> Nom : {{evenement.lieu.nom}} </p>

		{% for organisateur in evenement.organisateurs %}

			<h3 class="text-primary"> Organisateur </h3>

			<p> Nom : {{organisateur.nom}} </p>
			<p> Site web : {{organisateur.siteWeb}} </p>
			<p> mail : {{organisateur.mail}} </p>
			<img src="{{organisateur.image}}" alt="">
			<br><br>

			{% set listeContact = 0 %}

                {% for i in organisateur.listeContact %}

                    {% if i.evenement == evenement %}

                        {% set listeContact = i %}

                    {% endif %}

                {% endfor %}
                    

                {% for contact in listeContact.contact %}
                    <h5 class="text-primary"> Contacts </h5>

                    <p> ici il faudra faire une redirection vers un formulaire de contact
                    et pas laisser visible l'adresse mail et le numéro de téléphone du contact

                    <p> Nom : {{contact.nom}} </p>
                    <p> Prenom : {{contact.prenom}} </p>
                    <p> Mail : {{contact.mail}} </p>
                    <p> teléphone : {{contact.telephone}}</p>


                {% endfor %}

		{% endfor %}


		<a href="{{path('accueil')}}" class="btn btn-primary">accueil</a>


	</article>

	<script>

        $('#testSuppression').on('click',function(e){
            return confirm("Etes vous sûr de vouloir supprimer ?");
        });

    </script>

{% endblock %}