{% extends 'base.html.twig' %}

{% block title %}{{evenement.nom}}{% endblock %}

{% block body %}

	<article>

		<h2 class="text-primary"> {{evenement.nom}} </h2>
		{% if evenement.domaine == 'Autre' %}
			<h3 class="text-primary">Famille de métier : <font color= "red">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers du numérique et de la transition énergétique' %}
			<h3 class="text-primary">Famille de métier : <font color= "#0CF950">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la réalisation de produits mécaniques' %}
			<h3 class="text-primary">Famille de métier : <font color= "#f7c4e3">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la maintenance' %}
			<h3 class="text-primary">Famille de métier : <font color= "#000000">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == "Métiers du pilotage d'installations automatisées" %}
			<h3 class="text-primary">Famille de métier : <font color= "#17661d">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers du bois' %}
			<h3 class="text-primary">Famille de métier : <font color= "#582900">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == "Métiers de l'hôtellerie-restauration" %}
			<h3 class="text-primary">Famille de métier : <font color= "#B1DBEC">{{evenement.domaine}}</font></h3>
		{% endif %}
	
		{% if evenement.domaine == "Métiers de l'aéronautique" %}
			<h3 class="text-primary">Famille de métier : <font color= "blue">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la beauté et du bien-être' %}
			<h3 class="text-primary">Famille de métier : <font color= "#bf2caf">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == "Métiers de l'alimention" %}
			<h3 class="text-primary">Famille de métier : <font color= "#F9B308">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers des études et de la modélisation numérique du bâtiment' %}
			<h3 class="text-primary">Famille de métier : <font color= "#535353">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers des industries graphiques et de la communication' %}
			<h3 class="text-primary">Famille de métier : <font color= "#FF4D04">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la gestion administrative, du transport et de la logistique' %}
			<h3 class="text-primary">Famille de métier : <font color= "#9929E7">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la relation client' %}
			<h3 class="text-primary">Famille de métier : <font color= "#4BECE7">{{evenement.domaine}}</font></h3>
		{% endif %}

		{% if evenement.domaine == 'Métiers de la construction durable , du bâtiment et des travaux publics' %}
			<h3 class="text-primary">Famille de métier : <font color= "#B6B6B6">{{evenement.domaine}}</font></h3>
		{% endif %}
		<div class="metadata"> Publié le {{evenement.PublishedAt| date ('d/m/y')}} à {{evenement.PublishedAt | date('H:i')}}
		</div>
		<div class="Content">
			<img src="{{evenement.image}}" alt="">

			<p>{{evenement.description}} </p>

			
		</div>

		{% if is_granted('ROLE_ADMIN') %}

			<a href="{{path('modifEvenement' , {id : evenement.id})}}" class="btn btn-primary">Modifier l'événement</a>
			<a href="{{path('suppression_show_evenement' , {id : evenement.id})}}" id="testSuppression" class="btn btn-primary">Supprimer l'événement</a>

		{% else %}

            {% if is_granted('ROLE_USER') %}
                {% if app.user.getId() == evenement.utilisateur.getId() %}

                	<a href="{{path('modifEvenement' , {id : evenement.id})}}" class="btn btn-primary">Modifier l'événement</a>
					<a href="{{path('suppression_show_evenement' , {id : evenement.id})}}" id="testSuppression" class="btn btn-primary">Supprimer l'événement</a>

                {% endif %}
            {% endif %}
		{% endif %}

		<h3 class="text-primary"> Dates </h3>

		{% for periode in evenement.periode %}
			<p>Date de début : {{periode.debut | date('d/m/y H:i')}} </p>
			<p>Date de fin : {{periode.fin | date('d/m/y H:i')}} </p>

		{% endfor %}

		<h3 class="text-primary"> Lieu </h3>

			<p> Ville : {{evenement.lieu.ville}} </p>
			<p> Adresse : {{evenement.lieu.adresse}} </p>
			<p> Code postale : {{evenement.lieu.codePostal}} </p>
			<p> Nom : {{evenement.lieu.nom}} </p>

		{% for organisateur in evenement.organisateurs %}

			<h3 class="text-primary"> Organisateur </h3>

			<p> Nom : {{organisateur.nom}} </p>
			<p> Site web : {{organisateur.siteWeb}} </p>
			{#<p> mail : {{organisateur.mail}} </p>#}
			<img src="{{organisateur.image}}" alt="">
			<a href="{{path('contactOrganisateurEvenement' , {idOrganisateur : organisateur.id , idEvenement : evenement.id })}}" class="btn btn-primary">Contacter</a>
			
			<br><br>

			{% set listeContact = 0 %}

                {% for i in organisateur.listeContact %}

                    {% if i.evenement == evenement %}

                        {% set listeContact = i %}

                    {% endif %}

                {% endfor %}
                    

                {% for contact in listeContact.contact %}
                    <h5 class="text-primary"> Contacts </h5>

                    

                    <p> Nom : {{contact.nom}} </p>
                    <p> Prenom : {{contact.prenom}} </p>
                    {#<p> Mail : {{contact.mail}} </p>#}
                    <p> teléphone : {{contact.telephone}}</p>
					<a href="{{path('contactEvenement' , {idContact : contact.id , idEvenement : evenement.id})}}" class="btn btn-primary">Contacter</a>



                {% endfor %}

		{% endfor %}

		<br>
		<br>
		<a href="{{path('accueil')}}" class="btn btn-primary">accueil</a>


	</article>

	<script>

        $('#testSuppression').on('click',function(e){
            return confirm("Etes vous sûr de vouloir supprimer ?");
        });

    </script>

{% endblock %}