<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		{# <script type="text/javascript" src="{{ asset('bundles/alexandermatveevpopper/popper.min.js') }}"></script> #}
		 {# <script type="text/javascript" src="../vendor/alexandermatveev/popper-bundle/AlexanderMatveev/PopperBundle/Ressources/public/popper.min.js"></script> #}
		 {#<script type="text/javascript" src="../bundles/alexandermatveevpopper/popper.min.js"></script>#}
		 {#<script type="text/javascript" src="../../vendor/components/jquery/jquery.js"></script>#}
		 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href ="https://bootswatch.com/4/flatly/bootstrap.min.css">
			
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
		  <a class="navbar-brand" href="{{path('accueil')}}">Accueil</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
				<a class="nav-link" href="{{path('evenement_calendar')}}">Calendrier<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link" href="{{path('article')}}">Article<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item ">
				<a class="nav-link" href="{{path('evenement')}}">Evénement<span class="sr-only">(current)</span></a>
			  </li>
			  {#<li class="nav-item">
				<a class="nav-link" href="{{path('document')}}">Documents</a>
			  </li>#}
			  {#<li class="nav-item ">
				<a class="nav-link" href="{{path('chat')}}">Chat<span class="sr-only">(current)</span></a>
			  </li>#}
			  <li class="nav-item">
				<a class="nav-link" href="{{path('contact')}}">Contact</a>
			  </li>			

			  <li class="nav-item ">
					
					<div class="dropdown">
						<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Relation ecole-entreprise </a>

						<ul class="dropdown-menu bg-primary  ">

							<li><a class="nav-link"  href="{{path('mission')}}">Mission ecole-rentreprise</a></li>
							<li><a class="nav-link"  href="/mission#actualite">Actualité des actions</a></li>
							<li><a class="nav-link" href="/mission#partenariats">Partenariat avec le monde professionnel</a></li>
							<li><a class="nav-link" href="/mission#lycee">Lycée des métiers</a></li>
							<li><a class="nav-link" href="/mission#cmq">CMQ</a></li>
							<li><a class="nav-link" href="/mission#plateforme">PFT</a></li>
							<li><a class="nav-link" href="/mission#periode">Les périodes de formations en milieu professionel des élèves</a></li>
							<li><a class="nav-link" href="/mission#clee">CLEE</a></li>
							<li><a class="nav-link" href="/mission#reec">Les référents école-entreprise en collége</a></li>
							<li><a class="nav-link" href="/mission#enseignant">Les enseignants en entreprises</a></li>
							<li><a class="nav-link" href="/mission#catalogue">Catalogue des actions relation ecole-entreprise</a></li>
							<li><a class="nav-link" href="/mission#visite">Visite en entreprise: ressources utiles</a></li>
										
									
						  
						</ul>
					</div>
			  
			  </li>			 
			  
				{% if is_granted('ROLE_ADMIN') %}

					<li class="nav-item ">
					
						<div class="dropdown">
							<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CM</a>

							<ul class="dropdown-menu bg-primary  ">

								<li><a class="nav-link" href="{{path('security_registration')}}">Création</a></li>
								<li><a class="nav-link" href="{{path('liste_cm')}}">liste</a></li>
																		
								
							</ul>
						</div>
			  
			  	</li>

				{% endif %}

				{% if is_granted('ROLE_USER') %}
			  <li class="nav-item ">
					
					<div class="dropdown">
						<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moteur de publication</a>

						<ul class="dropdown-menu bg-primary  ">

							<li><a class="nav-link" href="{{path('createArticle')}}">Création d'un article</a></li>
							<li><a class="nav-link" href="{{path('createEvenement')}}">Création d'un événement</a></li>
																	
						  
						</ul>
					</div>
			  
			  </li>

				<li class="nav-item ">
					
					<div class="dropdown">
						<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mes publications</a>

						<ul class="dropdown-menu bg-primary  ">

							<li><a class="nav-link" href="{{path('mes_publications_articles')}}">Mes articles</a></li>
							<li><a class="nav-link" href="{{path('mes_publications_evenements')}}">Mes événements</a></li>
																	
						  
						</ul>
					</div>
			  
			  </li>

					<li class="nav-item">
					<a class="nav-link" href="{{path('profile')}}">Profile</a>
					</li>

					<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
					</li>	

				{% endif %}

				{% if not(is_granted('ROLE_USER')) %}

					<li class="nav-item">
					<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					</li>	

				{% endif %}

				



			 {# <li class="nav-item ">
					
					<div class="dropdown">
						<a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moteur de suppression</a>

						<ul class="dropdown-menu bg-primary  ">

							<li><a class="nav-link" href="{{path('suppression_article')}}">Suppression d'un article</a></li>
							<li><a class="nav-link" href="{{path('suppression_evenement')}}">Suppression d'un événement</a></li>
																	
						  
						</ul>
					</div>
			  
			  </li>
			  
			  
			  
			</ul>

			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
		   </form>#}

		  </div>
		</nav>
		
		
		<div class="container">
      {% block body %}{% endblock %}
		</div>
		{# https://mdbootstrap.com/docs/jquery/navigation/footer/ #}
		{#<footer class = "page-footer font-small bg-primary pt-4">#}
		<footer class = "page-footer py-4 bg-primary" >
			<div class="container">
				<p class="m-0 text-right text-white">Mentions légales</p>
     		<p class="m-0 text-right text-white">Copyright &copy; Your Website 2019</p>
    	</div>
		</footer>
		<script>
			$(document).ready(function(){
			  $('.dropdown-submenu a.test').on("click", function(e){
				$(this).next('ul').toggle();
				e.stopPropagation();
				e.preventDefault();
			  });
			});
		</script>
		
        {% block javascripts %}{% endblock %}
    </body>
</html>